<a href="https://colab.research.google.com/github/GavinButts/Fall-Data-Challenge-2022/blob/main/Code/Kevin/Ordinal%20-%20SEENJOY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
!pip install --upgrade --no-deps statsmodels
import scipy.stats as stats

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.12.2)
Collecting statsmodels
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 5.1 MB/s
Installing collected packages: statsmodels
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
Successfully installed statsmodels-0.13.2

In [16]:
sheet_id = "11rno0SjsOyV1JlevH3q40UMm1s5e6m7g"
sheet_name = "curated_2019-required"

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

df = pd.read_csv(url)

In [21]:
#create FOYESCNT variable that determines the amount of times each person said 'Yes' on the FO#### questions (ITEMS 72-74)
#Legend:  Number of 'Yes'

FOYESCNT = []      #variable that will be added to csv
yesCount = 0
for i in range(15500):
  if df['FOSTORY2X'][i] == 1:
    yesCount += 1
  if df['FOCRAFTS'][i] == 1:
    yesCount += 1
  if df['FOGAMES'][i] == 1:
    yesCount += 1
  if df['FOBUILDX'][i] == 1:
    yesCount += 1
  if df['FOSPORT'][i] == 1:
    yesCount += 1
  if df['FORESPON'][i] == 1:
    yesCount += 1
  if df['FOHISTX'][i] == 1:
    yesCount += 1
  if df['FOLIBRAYX'][i] == 1:
    yesCount += 1
  if df['FOBOOKSTX'][i] == 1:
    yesCount += 1
  if df['FODINNERX'][i] != 0:
    yesCount += 1
  FOYESCNT.append(yesCount)
  yesCount = 0

df["FOYESCNT"] = FOYESCNT
df.to_csv("sample.csv", index=False)  #adds variable to csv

#create FSYESCNT variable that determines the amount of times each person said 'Yes' on the FS#### questions (ITEMS 60)
#Legend:  Number of 'Yes'

FSYESCNT = []      #variable that will be added to csv
yesCount = 0
FSYESCNT_LMH = []

for i in range(15500):
  if df['FSSPORTX'][i] == 1:
    yesCount += 1
  if df['FSVOL'][i] == 1:
    yesCount += 1
  if df['FSMTNG'][i] == 1:
    yesCount += 1
  if df['FSPTMTNG'][i] == 1:
    yesCount += 1
  if df['FSATCNFN'][i] == 1:
    yesCount += 1
  if df['FSFUNDRS'][i] == 1:
    yesCount += 1
  if df['FSCOMMTE'][i] == 1:
    yesCount += 1
  if df['FSCOUNSLR'][i] == 1:
    yesCount += 1
  FSYESCNT.append(yesCount)
  if yesCount <= 3:
    FSYESCNT_LMH.append('1) LOW INVOLVMENT')
  elif yesCount > 3 and yesCount<=7:
    FSYESCNT_LMH.append('2) MEDIUM INVOLVEMENT')
  elif yesCount > 7:
    FSYESCNT_LMH.append('3) HIGH INVOLVEMENT')
  yesCount = 0

df["FSYESCNT"] = FSYESCNT
df["FSYESCNT_LMH"] = FSYESCNT_LMH

df.to_csv("sample.csv", index=False)  #adds variable to csv

In [22]:
#Data Pre-Processing
from pandas.api.types import CategoricalDtype
cat_type = CategoricalDtype(categories=[-1,1,2,3,4], ordered=True)
df["SEENJOY"] = df["SEENJOY"].astype(cat_type)
df["SEENJOY"].dtype

CategoricalDtype(categories=[-1, 1, 2, 3, 4], ordered=True)

In [19]:

from statsmodels.miscmodels.ordinal_model import OrderedModel
df

,BASMID,ALLGRADEX,EDCPUB,SCCHOICE,SPUBCHOIX,SCONSIDR,SCHLHRSWK,EINTNET,MOSTIMPT,INTNUM,...,HHPARN19_BRD,NUMSIBSX,PARGRADEX,RACEETH,INTACC,CENREG,ZIPLOCL,FOYESCNT,FSYESCNT,FSYESCNT_LMH
0,20191000012,12,1,2,3,2,4,4,-1,-1,...,1,1,3,4,1,4,11,6,3,1) LOW INVOLVMENT
1,20191000029,4,1,2,3,2,4,3,-1,2,...,2,1,3,3,1,4,12,4,1,1) LOW INVOLVMENT
2,20191000059,11,2,2,2,1,4,3,2,2,...,2,1,5,2,3,2,11,6,7,2) MEDIUM INVOLVEMENT
3,20191000070,6,1,1,1,1,4,4,-1,-1,...,2,1,2,3,1,2,31,10,8,3) HIGH INVOLVEMENT
4,20191000078,9,1,2,3,2,4,4,-1,-1,...,1,1,5,5,1,2,21,6,4,2) MEDIUM INVOLVEMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15495,20191225472,7,1,2,2,2,4,4,-1,-1,...,1,2,4,4,1,3,23,5,4,2) MEDIUM INVOLVEMENT
15496,20191225475,2,1,2,2,2,4,4,-1,-1,...,1,3,5,2,1,2,22,7,3,1) LOW INVOLVMENT
15497,20191225477,12,1,1,3,2,4,4,-1,-1,...,1,2,2,3,1,1,13,7,5,2) MEDIUM INVOLVEMENT
15498,20191225479,13,1,2,2,1,4,4,-1,-1,...,2,0,4,1,3,4,11,8,7,2) MEDIUM INVOLVEMENT
15499,20191225500,14,1,1,2,2,3,4,-1,-1,...,1,1,5,1,1,2,21,6,5,2) MEDIUM INVOLVEMENT

In [23]:
mod_prob = OrderedModel(df['SEENJOY'],
                        df[['HHPARN19X','FHPLACE','SEABSNT','FSYESCNT','SEGRADES','FOYESCNT','RACEETH','TTLHHINC']],
                        distr='logit')
 
res_log = mod_prob.fit(method='bfgs')
res_log.summary()

Optimization terminated successfully.
         Current function value: 0.962917
         Iterations: 43
         Function evaluations: 47
         Gradient evaluations: 47

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OrderedModel Results
==============================================================================
Dep. Variable:                SEENJOY   Log-Likelihood:                -14925.
Model:                   OrderedModel   AIC:                         2.987e+04
Method:            Maximum Likelihood   BIC:                         2.997e+04
Date:                Tue, 25 Oct 2022
Time:                        00:35:11
No. Observations:               15500
Df Residuals:                   15488
Df Model:                          12
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
HHPARN19X      0.0363      0.021      1.694      0.090      -0.006       0.078
FHPLACE        0.0467      0.024      1.911      0.056      -0.001       0.095
SEABSNT        0.5516      0.030     18.450      0.000       0.493       0.610
FSYESCNT      -0.0937      0.009    -10.740      0.000      -0.111      -0.077
SEGRADES       0.1360      0.012     11.156      0.000       0.112       0.160
FOYESCNT      -0.1718      0.008    -22.511      0.000      -0.187      -0.157
RACEETH       -0.0945      0.012     -7.574      0.000      -0.119      -0.070
TTLHHINC      -0.0088      0.006     -1.530      0.126      -0.020       0.002
-1/1          -9.7118      0.714    -13.599      0.000     -11.112      -8.312
1/2            2.1456      0.083     25.929      0.000       1.983       2.308
2/3            1.0287      0.010     99.757      0.000       1.009       1.049
3/4            0.5940      0.028     21.157      0.000       0.539       0.649
==============================================================================
"""

In [24]:
predicted = res_log.model.predict(res_log.params, exog=df[['HHPARN19X','FHPLACE','SEABSNT','FSYESCNT','SEGRADES','FOYESCNT','RACEETH','TTLHHINC']])
predicted

/usr/local/lib/python3.7/dist-packages/statsmodels/miscmodels/ordinal_model.py:419: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  xb = xb[:, None]

array([[1.62853512e-04, 4.56141936e-01, 4.75978260e-01, 5.59842090e-02,
        1.17327419e-02],
       [4.75064050e-05, 1.96608062e-01, 6.03968287e-01, 1.60265623e-01,
        3.91105217e-02],
       [1.37919864e-04, 4.15323982e-01, 5.05544249e-01, 6.51690028e-02,
        1.38248461e-02],
       ...,
       [2.01343786e-04, 5.09040953e-01, 4.35269680e-01, 4.59772236e-02,
        9.51079964e-03],
       [2.32237136e-04, 5.44584524e-01, 4.06720206e-01, 4.02072157e-02,
        8.25581771e-03],
       [1.33752766e-04, 4.07896317e-01, 5.10714673e-01, 6.70057740e-02,
        1.42494835e-02]])

In [26]:
pred_choice = predicted.argmax(1)
print('Fraction of correct choice predictions')
print((np.asarray(df['SEENJOY'].values.codes) == pred_choice).mean())

Fraction of correct choice predictions
0.5458709677419354